body{
    background:url("mainbackground1.png");
    /*background: url(../img/poster.jpeg);*/
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*font-family: ;*/
}

#login-box{
    width: 30%;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top:10%;
    background: #00000060;
    padding: 20px 50px;
}

#login-box h1 {
    color: white;
}

#login-box .form .item h3 {
    color: white;
}

#login-box .form {
    margin-top: 0px;
}

#login-box .form .item input {
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: white;
    display: block;
    font-size: 25px;
    width: 100%;
    background: #ffffff00;
    /* Fade away effect */
    transition: background 0.2s, border 0.2s;
    
}


#login-box button {
    margin-top: 30px;
    width:200px;
    height: 40px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 0;
    border-radius: 20px;
}



#register-reset .button {
    display: inline-block;
    margin-top: 30px;
    width:200px;
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 0;
    border-radius: 20px;
}